[submodule ".registry"]
	path = .registry
	url = https://github.com/andriyprotsak5/andriyprotsak5.r-universe.dev
	branch = HEAD
[submodule "UAHDataScienceO"]
	path = UAHDataScienceO
	url = https://github.com/andriyprotsak5/UAHDataScienceO
[submodule "UAHDataScienceSC"]
	path = UAHDataScienceSC
	url = https://github.com/andriyprotsak5/UAHDataScienceSC
[submodule "UAHDataScienceSF"]
	path = UAHDataScienceSF
	url = https://github.com/andriyprotsak5/UAHDataScienceSF
[submodule "UAHDataScienceUC"]
	path = UAHDataScienceUC
	url = https://github.com/andriyprotsak5/UAHDataScienceUC
